@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');

body {
    padding: 0px;
    margin: 0;
    background-color: #fefefe;
    font-family: 'Inter';
}

.ikon img {
    margin-top: 5px;
    margin-left: 30px;
    width: 40px;
    height: 42px;
    margin-bottom: 10px;
}
.title {
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    display: flex;
    align-items: center;
    position: absolute;
    width: 190px;
    height: 46px;
    left: 90px;
    top: 18px;
    color: white;
}

.btn img {
    margin-top: -1px;
    height: 25px;
    border-radius: 180px;
    border: 1px solid #145880;
}

.btn {
    margin-right: 50px;
    border: 1px solid #145880;
    background-color: white;
    border-radius: 15px;
    width: 120px;
    display: grid;
}
.btn:hover{
    background-color: white;
    border: 1px solid #145880;
}
.akun p {
    cursor: pointer;
    margin-top: -32px;
    margin-left: 45px;
}

/* daftar acara */
.list b{
    margin-left: 40px;
    font-size: 20pt;
}
.tambah{
    margin-left: 965px;
}
.event{
    border-radius: 15px;
    border: 1px #145880 solid;
    margin-left: 40px;
    box-sizing: border-box;
    width: 1280px;
    height: 50px;
    display: flex;
}
.event label{
    width: 1000px;
    margin: 9px;
    padding-left: 10px;
    font-size: 15pt;
}
.event label:hover{
    cursor: pointer;
}
/* button */
.tombol{
    margin-top: 6px;
    font-size: 12pt;
    display: flex;
    margin-right: 10px;
}
.kembali {
    box-sizing: border-box;
    width: 130px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #145880;
    border-radius: 30px;
    color: #145880;
    margin-right: 10px;
}
.kembali:hover{
    background: #145880;
    border: 1px solid #145880;
    color: white;
}
.daft{
    box-sizing: border-box;
    width: 130px;
    height: 35px;
    left: 210px;
    color: #FFFFFF;
    background: #145880;
    border: 1px solid #145880;
    border-radius: 30px;
}


/* footer */
.copy{
    margin-top: -5px;
    background-color:#145880;
    padding: 5px;
    font-size: 12px;
}
.copy p{
    justify-content: center;
    cursor: pointer;
    color: white;
    height: 1px;
    display: flex;
    
}

